/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Buttons */
$primary-button-color: #1877f2;
$success-button-color: #42b72a;

/* other colors */
$header-color: white;
$body-color: #f0f2f5;
